In [1]:
import numpy as np
import pandas as pd

In [2]:
# series 
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [3]:
pd.Series([1,2,3], index=['a','b','c'], dtype="float")

a    1.0
b    2.0
c    3.0
dtype: float64

In [4]:
d = {'name':'Tom and Jerry', 'channel': 'Cartoon Network','time':8}
pd.Series(d)

name         Tom and Jerry
channel    Cartoon Network
time                     8
dtype: object

In [5]:
pd.Series(d, index=['name','channel','year'])

name         Tom and Jerry
channel    Cartoon Network
year                   NaN
dtype: object

In [6]:
pd.Series(10, index=range(10))

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [7]:
pd.Series(5, index=['a','b','c'])

a    5
b    5
c    5
dtype: int64

In [8]:
a = pd.Series(range(1,11))
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
b = pd.Series(d)
b

name         Tom and Jerry
channel    Cartoon Network
time                     8
dtype: object

In [10]:
a[4]

5

In [11]:
b['channel']

'Cartoon Network'

In [12]:
a[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
b[2]

8

In [14]:
b[:3]

name         Tom and Jerry
channel    Cartoon Network
time                     8
dtype: object

In [15]:
a.index

RangeIndex(start=0, stop=10, step=1)

In [16]:
b.index

Index(['name', 'channel', 'time'], dtype='object')

In [17]:
a.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [18]:
b.values

array(['Tom and Jerry', 'Cartoon Network', 8], dtype=object)

In [19]:
# dataframes
lst =['MS Dhoni','Sachin T','Rohit','Virat K']
pd.DataFrame(lst)

          0
0  MS Dhoni
1  Sachin T
2     Rohit
3   Virat K

In [20]:
pd.DataFrame(lst, columns=['name'])

       name
0  MS Dhoni
1  Sachin T
2     Rohit
3   Virat K

In [21]:
pd.DataFrame(lst, columns=['name'], index=["MS",'ST',"R","VK"])

        name
MS  MS Dhoni
ST  Sachin T
R      Rohit
VK   Virat K

In [22]:
id =[{'name':'dipesh','python':35},
    {'name':'yash','python':42},
    {'name':'Harshad','rdbms':55},
    {'name':'Siddhesh','rdbms':57}]
pd.DataFrame(id)

       name  python  rdbms
0    dipesh    35.0    NaN
1      yash    42.0    NaN
2   Harshad     NaN   55.0
3  Siddhesh     NaN   57.0

In [23]:
data ={'name':pd.Series(['Google','Microsoft','Apple',"Amazon","Tesla"]),
      'owner':pd.Series(['Larry Page','Bill Gates','Steve Jobs',"Jeff Bezos","Elon Musk"])}
df = pd.DataFrame(data)

In [24]:
df['rank']=[1,3,4,2,5]

In [25]:
df

        name       owner  rank
0     Google  Larry Page     1
1  Microsoft  Bill Gates     3
2      Apple  Steve Jobs     4
3     Amazon  Jeff Bezos     2
4      Tesla   Elon Musk     5

In [26]:
df.index=['G',"M","A","Am","T"]

In [27]:
df

         name       owner  rank
G      Google  Larry Page     1
M   Microsoft  Bill Gates     3
A       Apple  Steve Jobs     4
Am     Amazon  Jeff Bezos     2
T       Tesla   Elon Musk     5

In [28]:
df.drop(['rank'], axis=1)

         name       owner
G      Google  Larry Page
M   Microsoft  Bill Gates
A       Apple  Steve Jobs
Am     Amazon  Jeff Bezos
T       Tesla   Elon Musk

In [29]:
df

         name       owner  rank
G      Google  Larry Page     1
M   Microsoft  Bill Gates     3
A       Apple  Steve Jobs     4
Am     Amazon  Jeff Bezos     2
T       Tesla   Elon Musk     5

In [30]:
df.drop('rank', axis=1, inplace=True)

In [31]:
# Accessing
df['name']

G        Google
M     Microsoft
A         Apple
Am       Amazon
T         Tesla
Name: name, dtype: object

In [32]:
df['rank']=[1,3,4,2,5]
df

         name       owner  rank
G      Google  Larry Page     1
M   Microsoft  Bill Gates     3
A       Apple  Steve Jobs     4
Am     Amazon  Jeff Bezos     2
T       Tesla   Elon Musk     5

In [33]:
df[['name','rank']]

         name  rank
G      Google     1
M   Microsoft     3
A       Apple     4
Am     Amazon     2
T       Tesla     5

In [34]:
df.ix['G']

C:\Users\Master\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

name         Google
owner    Larry Page
rank              1
Name: G, dtype: object

In [35]:
df.loc["G"]

name         Google
owner    Larry Page
rank              1
Name: G, dtype: object

In [36]:
df.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [1]:
df.iloc[1]

NameError: name 'df' is not defined

In [ ]:
df.iloc[:2]

In [2]:
df.iloc[::-1]

NameError: name 'df' is not defined

In [3]:
df.reshape(3,4)

NameError: name 'df' is not defined

In [4]:
df.iloc[0:2,0:2]

NameError: name 'df' is not defined

In [5]:
df.loc[['M',"A",],['name','owner']]

NameError: name 'df' is not defined

In [ ]:
df.loc[0:3, ['name','owner']]

In [6]:
df['name'][2]

NameError: name 'df' is not defined

In [7]:
df.iloc[2,1]

NameError: name 'df' is not defined

In [8]:
df.loc[3,'name']

NameError: name 'df' is not defined